include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
+universalHeader
#createNoteContent.content
  form#createNoteForm(action='/note' method='post')
    label(for='createNoteTopic')
      h3
        |Topic:
      select#createNoteTopic(name='createNoteTopic')
        for topic in topicList
          if (topic === defaultTopic)
            option(value=topic selected)
              |#{topic}
          else
            option(value=topic)
              |#{topic}
    br
    label(for='createNoteTitle')
      h3
        |Title:
      input#createNoteTitle(type='text' name='createNoteTitle')
    br
    lable(for='createNoteNote' id='createNoteContent')
      h3
        |note (Parsed with markdown-it)
      br
      textarea#createNoteNote(name='createNoteNote')
    br
    label(for='createNoteTags')
      h3
        |Tags (input tags separated by commas)
      input#createNoteTags(type='text' name='createNoteTags')
    br
    button(type='submit')
      h2
        |Submit
  br
  -var returnRoute= (defaultTopic ? '/topic/' + defaultTopic : '/profile')
  a(href=returnRoute)
    |Return to #{defaultTopic} Notes
  script(src='./public/textareaFix.js' type="text/javascript")
