include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='/public/styles.css')
body
  +universalHeader
  #deleteContent.content
    h1
      |WARNING!!!
    h1
      |YOU ARE ABOUT TO PERMANENTLY DELETE THE FOLLOWING #{dataType.toUpperCase()}
    if(dataType == "topic")
      h1
        |ALL NOTES UNDER THIS TOPIC WILL ALSO BE DELETED
    br
    #deleteData
      if(data)
        h2
          |#{data.title}
          |Topic: #{data.topic}
          |Created On: #{data.dateCreated}
          if(data.dateUpdated)
            |Updated On: #{data.dateUpdated}

      else
        h2
          |#{title}
    #delteOptionButtons
      -var dataTitle = title ? title : data.title
      form#deleteForm(action='/delete/' + dataType + '/' + dataTitle method='post')
        button#deleteButton(type='submit')
          |Permanently Delete #{dataTitle}
      br
      br
      a#dontDeleteButton(href='/profile')
        |No! Return to my profile
