include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
+universalHeader
#editContent.content
  if !data
    #h1 This note doesn't exist yet
    a(href="/note") Click here to create it
  form#editNoteForm(action='/edit/'+ data.title method='post')
    label(for='editNoteTopic')
      h3
        |Topic:
        select#editNoteTopic(name='editNoteTopic')
          for topic in topicList
            if (topic === data.topic)
              option(value=topic selected)
                |#{topic}
            else
              option(value=topic)
                |#{topic}
    br
    label(for='editNoteTitle')
      h3
        |Title:
        input#editNoteTitle(type='text' name='editNoteTitle' value=data.title)
    br
    lable(for='editNoteNote')
      h3
        |note (Parsed with!{' '}
        a(href='/markdown')
          |markdown-it
        |)
      br
      textarea#editNoteNote.createNoteTextarea(name='editNoteNote')
        |#{data.content}
    br
    label(for='editNoteTags')
      h3
        |Tags (input tags separated by commas)
      input#editNoteTags(type='text' name='editNoteTags' value=data.tags.join(","))
    br
    button(type='submit')
      h2
        |Save Changes
  br
  form#deleteNoteForm(action='/delete/note/'+data.title method='get')
    button(type='submit' id="deleteNoteButton")
      h3
        |Delete Note
  br
  a(href='/notes/'+ data.title)
    |Return to #{data.title}
  script(src='../public/textareaFix.js' type="text/javascript")
