include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
+universalHeader
#topicContent.content
  if !notes
    #noNotesFound
      h1#noNotesFoundHeader
        |No Notes Found for this topic!
        br
        |Add your first note under #{topic}:
        br
        br
        br
        a(href='/note' + "?topic=" + topic id="noNoteLink")
          |Create a Note
      br
      a(href='/profile')
        |Return to list of topics
  else
    h1
      |#{topic}
    a(href='/note' + "?topic=" + topic id="createNoteLink")
      |Create a new note under #{topic}
    br
    form#filterForm(action='/topic/'+topic method='get')
      h3
        |Filters
      label(for='filterTags')
        -var tagDefault =(filters ? filters.filterTags : null)
        |Tags (enter tags separated by commas):
        input#filterTags(type='text' name='filterTags' value=tagDefault)
      #filterDates
        #filterDatesDateType
          -var dateTypeDefault=(filters ? filters.dateType : null)
          -var createdDefault=(dateTypeDefault ? dateTypeDefault === 'dateCreated' : true)
          -var updatedDefault=(dateTypeDefault ? dateTypeDefault === 'dateUpdated' : false)
          label(for='created')
            input#created(type='radio' name='dateType' value='dateCreated' checked=createdDefault)
            |Date Created
          label(for='updated')
            input#updated(type='radio' name='dateType' value='dateUpdated' checked=updatedDefault)
            |Date Updated
        label(for='filterEarlyDate')
          -var earlyDateDefault=(filters ? filters.filterEarlyDate : null)
          |Earliest Date:
          input#filterEarlyDate(type='date' name='filterEarlyDate' value=earlyDateDefault)
        label(for='filterLateDate')
          -var lateDateDefault=(filters ? filters.filterLateDate : null)
          |Latest Date:
          input#filterLateDate(type='date' name='filterLateDate' value=lateDateDefault)
      label(for='filterTitle')
        -var titleDefault = (filters ? filters.filterTitle : null)
        |Title (exact match):
        input#filterTitle(type='text' name='filterTitle' value=titleDefault)
      input(type='hidden' name='filters' value='true')
      button(type='submit') Apply
      a(href='/topic/'+topic id='clearFilters')
        |Clear
    br
    #noteList
      each note in notes
        a(href='/notes/'+ note.title class="noteCard")
          .noteCardTitle
            |#{note.title}
          .noteCardInfo
            |Created On: #{note.dateCreated}
            br
            if(note.dateUpdated)
              |Updated On: #{note.dateUpdated}
              br
            if(note.tags.length > 3)
              |Tags: #{note.tags[0]}, #{note.tags[1]}, #{note.tags[2]}...
            else
              |Tags: #{note.tags.join(",")}
    br
    br
    a(href='/profile')
      |Return to list of topics
