include /universalHeader

doctype html
head
  link(rel='stylesheet' type='text/css' href='../public/styles.css')
body
+universalHeader
#topicContent.content
  if !notes
    h1#noNotesFound
      |No Notes Found for this topic!
      br
      |Add your first note under #{topic}
      br
      a(href='/note' + "?topic=" + topic id="createNoteLink")
        |Create a Note!
  else
    h1
      |#{topic}
    a(href='/note' + "?topic=" + topic id="createNoteLink")
      |Create a new note under #{topic}
    br
    #noteList
      each note in notes
        a(href='/notes/'+ note.title class="noteCard")
          .noteCardTitle
            .noteCardTitleBackground
              |#{note.title}
            .noteCardTitleVoid
          .noteCardInfo
            |Created On: #{note.dateCreated}
            br
            if(note.dateUpdated)
              |Updated On: #{note.dateUpdated}
              br
            if(note.tags.length > 3)
              |Tags: #{note.tags[0]}, #{note.tags[1]}, #{note.tags[2]}...
            else
              |Tags: #{note.tags.join(",")}
